services:
  database:
    container_name: JabasFlowDB
    image: mysql
    environment:                  
      MYSQL_ROOT_PASSWORD: "root"  
      MYSQL_DATABASE: jabas_flow
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  flask-service:
    build:
      context: ./graph-flask
    ports:
      - "5001:5001"
    restart: unless-stopped
    volumes:
      - ./graph-flask:/app
      
volumes:
  mysql_data:
