.dashboard-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.dashboard-filter-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 75%;
}

.dashboard-filter form{
    display: flex;
    align-items: end;
    width: 50%;
    gap: 10px;
}