.dashboardContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px;
    gap: 50px;
}

.dashboard-title{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}