.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.filter-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 75%;
}

.filter form{
    display: flex;
    align-items: end;
    width: 50%;
    gap: 10px;
}

@media screen and (max-width: 1280px) {
    .filter{
        flex-direction: column;
        align-items: start;
    }

    .filter-container{
        flex-direction: column;
        width: 100%;
    }
 
    .filter form{
        width: 100%;
    }
}